god_damnit_bayes.ipynb
testing_script.ipynb
space_bandits/data/
__pycache__/
space_bandits/__pycache__/
space_bandits/core/__pyache__
space_bandits/algorithms/__pycache__
.ipynb_checkpoints/
space_bandits.egg-info/
MANIFEST
dist

